label {
    font-family: Arial, "Helvetica Neue", "BIZ UDPGothic", Meiryo, "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 10pt;
}

.button-1 {
    /* width: 25%; */
    background: lightblue;
    text-align: left;
    padding: 5px 10px;
    border: 5px solid #ddd;
}

.button-2 {
    background: lightgray;
    text-align: left;
    border: 2px solid #ddd;
}

.button-3 {
    background: lightgreen;
    text-align: left;
    border: 2px solid #ddd;
}

.td-button {
    padding: 0px 5px;
    background-color: #6fd89b;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.1s;
    margin: 5px;
}

.td-button:active {
    transform: translateY(5px);
    box-shadow: none;
}


.sample {
    display: flex;
    flex-wrap: wrap;
    /* border: green solid 5px; */
    height: 200px;
    /* background:yellow; */
    overflow: scroll;
  }
  .box-item {
    width: 25%;
    max-height: 25%;
    background: orange;
    text-align: left;
    padding: 5px 10px;
    border: 5px solid #ddd;
  }
  .box-item2 {
    width: 25%;
    max-height: 25%;
    background: darkkhaki;
    text-align: left;
    padding: 5px 10px;
    border: 5px solid #ddd;
  }
  .box-item3 {
    width: 25%;
    background: silver;
    max-height: 25%;
    text-align: left;
    padding: 5px 10px;
    border: 5px solid #ddd;
  }
  .button-item {
    /* width: 25%; */
    background: lightblue;
    text-align: left;
    padding: 2px 3px;
    border: 2px solid yellow;
  }
  .tab-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .tab-label {
    color: White;
    background: LightGray;
    margin-right: 5px;
    padding: 3px 12px;
    order: -1;
  }
  .tab-content {
    width: 100%;
    display: none;
  }
  /* アクティブなタブ */
  .tab-switch:checked + .tab-label {
    background: DeepSkyBlue;
  }
  .tab-switch:checked + .tab-label + .tab-content {
    display: block;
  }
  /* ラジオボタン非表示 */
  .tab-switch {
    display: none;
  }
